@using Blog.Entity.DTOs.Categories;
@model List<CategoryDto>

<div class="nk-widget-content">
    <ul>
        @foreach (var category in Model)
        {
            @*<li><a href="/Blog/Search?Keyword=@category.Name.ToLower()">@category.Name</a></li>*@
            <li><a asp-controller="Blog" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name</a></li>
        }
    </ul>
</div>