<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/sneat/assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Center Of Gaming | COG | Admin</title>

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="~/gaming-template/assets/images/skull-removebg-preview.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/sneat/assets/css/demo.css" />
    <link rel="stylesheet" href="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/sneat/assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="~/sneat/assets/vendor/js/helpers.js"></script>
    <script src="~/sneat/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item active">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="menu-link">
                            <i class='menu-icon bx bxs-dashboard'></i>
                            <div data-i18n="Analytics">Gösterge Paneli</div>
                        </a>
                    </li>

                    <!-- Sayfa Yönetimi -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Sayfa Yönetimi</span>
                    </li>
                    
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Article" asp-action="Index" class="menu-link">
                            <i class='menu-icon bx bx-paper-plane'></i>
                            <div data-i18n="Analytics">Makale Yönetimi</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="menu-link">
                            <i class='menu-icon bx bx-category'></i>
                            <div data-i18n="Analytics">Kategori Yönetimi</div>
                        </a>
                    </li>

                    <!-- Kullanıcılar -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Kullanıcılar</span></li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Basic">Kullanıcılar</div>
                        </a>
                    </li>

                    <!-- Çöp Kutusu -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Çöp Kutusu</span></li>
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-trash"></i>
                            <div data-i18n="Account Settings">Silinmiş Öğeler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles" class="menu-link">
                                    <div data-i18n="Account">Makale</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a asp-area="Admin" asp-controller="Category" asp-action="DeletedCategories" class="menu-link">
                                    <div data-i18n="Notifications">Kategori</div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none"
                                       placeholder="Search.."
                                       aria-label="Search.." />
                            </div>
                        </div>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            @await Component.InvokeAsync("DashboardHeader")
                        </ul>
                    </div>
                </nav>
                @RenderBody()
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <script src="~/sneat/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/sneat/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/sneat/assets/vendor/js/bootstrap.js"></script>
    <script src="~/sneat/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" rel="stylesheet" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js" rel="stylesheet" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.3/js/dataTables.buttons.min.js" rel="stylesheet" crossorigin="anonymous"></script>

    <script src="~/sneat/assets/vendor/js/menu.js"></script>
    <script src="~/sneat/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/sneat/assets/js/main.js"></script>
    <script src="~/sneat/assets/js/dashboards-analytics.js"></script>
    @await RenderSectionAsync("Scripts", false);
    @await Component.InvokeAsync("NToastNotify")
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
